body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color: darkslategrey;
    color: cornsilk;
    font-weight: bold;
}

div, label {
    margin-top: 10px;
}

label div {
    margin-top: 10px;
}

input {
    font-weight: normal;
}

fieldset {
    margin: 10px 0px 10px 0; 
    width: 50%;
}

.acceso {
    background-color: blueviolet;
}

#titAcceso {
    background-color: blue;
}

.personales {
    background-color: sienna;
}

#titPersonales {
    background-color: red;
}

.laborales {
    background-color: green;
}

#titLaborales {
    background-color: rgb(3, 63, 3);
}

.btnlaboral {
    background-color: lightgreen;
}

#enviar {
    background-color: blue;
}

#limpiar {
    background-color: brown;
}